.bet-history {
    #container {
        .nav-button {
            margin-right: -0.25rem;
        }

    }

    .date12 {
        margin: 0.9rem 1.875rem;
        padding-top: 0.5rem;
    }


}

.LiveCasinoBetHistory {
    #scroll-wrapper1 {
        padding: 0px 0px 0rem 1.5rem !important;
        margin-top: 0.9rem;
        margin-bottom: -0.2rem;

        #container {
            .nav-button {
                width: 21.6rem;
                height: 14.1rem;
                margin-right: 0.2rem;

                .icon {
                    margin-top: 0;
                }

                &.active {
                    button {
                        background: url('../../assets/myPage/second-btns/active-bg.png') round !important;
                        background-repeat: round;
                        width: 21.6rem;
                        height: 14.1rem;
                        margin-right: 0.2rem;
                        // width: 20.8rem;
                        // height: 13.6rem;
                        // height: 14.0625rem;
                        // height: 14rem; 
                        // margin-left: 0.4rem;

                        .text {
                            color: #ccc2b6;
                        }
                    }
                }
            }
        }
    }
}