.money-page {
    #container-nav {
        padding: 0.1rem 1.6rem;

        button {
            width: 38.3rem;
            background-size: cover;
            margin-right: -0.1rem;
        }
    }
}